
@import "./default.less";
@import "./loading.less";

.container{
    display: flex;

    .nav-left{

        height: calc(100vh);
        background-color: #001529;
    }
    .main{
        overflow: auto;
        height: calc(100vh);
        background-color: @colorL;
   
        .content{
            padding: 20px;
 
        }
    }
    .ant-table-bordered{
        background-color: white;
        margin-top: -1px;
        
    }
}